/* ------------------------------------------ */
/* -----------responsive by (320px)---------- */
/* ------------------------------------------ */
@media only screen and (min-width: 320px) {
  .wrapper {
    header {
      margin-right: 0;
      background-position: -260px -41px;
      .nav-page-list {
        height: 80px;
        margin: 10px 0;
        li {
          .nav-page {
            text-align: center;
            li {
              display: inline-block;
              padding: 0 10px;
              a {
                font-size: 13px;
              }
            }
          }
          #nav-page1 {
            li {
              padding-right:22px;
            }
          }
          #nav-page2 {
            li {
              padding: 0 1px;
              width: 108px;
            }
          }
          #nav-page3 {
            li {
              width: 80px;
              padding: 0 6px;
              &:last-child {
                width: 50px;
              }
            }
          }
        }
      }
      .nav {
        margin-left:0;
        li {
          margin-right:-4px;
          width:100px;
          height:145px;
          &.photo1 {
            background-size:100px auto;
            &:hover {
              background-size:100px auto;
            }
          }
          &.photo1-active {
            background-size:100px auto;
          }
          &.photo2 {
            background-size:100px auto;
            &:hover {
              background-size:100px auto;
            }
          }
          &.photo2-active {
            background-size:100px auto;
          }
          &.photo3 {
            background-size:100px auto;
            &:hover {
              background-size:100px auto;
            }
          }
          &.photo3-active {
            background-size:100px auto;
          }
        }
      }
      .information {
        ul {
          padding-left: 10px;
          li {
            font-size: 12px;
            margin-right: 9px;
            width: 100px;
          }
        }
      }
    }
    .content {
      .subject-matter {
        p {
          color: #fff;
          font-size: 17px;
          width: 320px;
          margin: 0 auto;
          text-align: center;
        }
      }
      .ui-tabs {
        .ui-tabs-nav {
          li {
            height: 40px;
            a {
              font: {
                size: 10px;
                family: 'MyriadProRegular';
              }
              padding: 11px 0;
            }
          }
        }
        .ca-container {
          width:340px;
        }
      }
      .price {
        h3 {
          font: {
            size: 23px;
            weight: normal;
          }
          margin-bottom: 30px;
          text-align: center;
        }
        .price-list {
          li {
            margin: 0 10px 5px;
            h4 {
              font-size: 24px;
              padding: {
                left: 15px;
                right: 15px;
              }
            }
            .description {
              margin: 10px 25px 10px 40px;
              li {
                font-size: 19px;
              }
            }
          }
        }
        .more-information {
          li {
            font-size: 18px;
          }
        }
      }
      .conditions {
        padding: 45px 18px 34px 23px;
        li {
          background: {
            image: cloudinary-url("marker.fw.png"), cloudinary-url("grey-marker.fw.png");
            repeat: no-repeat, no-repeat;
            position: 0 2px, 100% 3px;
          }
          font-size: 20px;
        }
      }
      .page2 {
        h2 {
          font: {
            size: 26px;
            weight: normal;
          }
          margin: 25px 0 30px 0;
        }
        .invitation {
          li {
            width:17%;
            font-size:11px;
            img {
              width:100%;
            }
          }
        }
        .big-list-photo {
          li {
            width:29%;
            height:auto;
            margin: 0 4px 2px 6px;
            &:nth-child(4) {
              width:48%;
            }
            &:last-child {
              width:45%;
            }
            img {
              width:100%;
              height: 100px;
            }
          }
        }
        .invitation-thems {
          font-size:19px;
        }
        .two-big-photo {
          img {
            width:50%;
            height: 200px;
          }
        }
        .commentary {
          font-size: 17px;
        }
        .table {
          table {
            margin-left: 20px;
            td {
              padding-bottom: 22px;
              &.name {
                width: 173px;
                font-size: 15px;
                padding-right: 15px;
              }
              &.quantity {
                font-size: 35px;
                line-height: 43%;
                padding-right: 20px;
                width: 120px;
                text-align: center;
                color: #fff;
              }
              &.cost {
                font-size: 23px;
              }
            }
          }
          .commentary2 {
            bottom: 52px;
            font-size: 15px;
          }
        }
      }
      .page3 {
        .book-list {
          li {
            text-align: center;
            overflow: hidden;
            h2 {
              font: {
                size: 26px;
                weight: normal;
              }
            }
            .layflat {
              text-transform: capitalize;
            }
            .photo-gallery-wrapp {
              float: none;
              img {
                width: 320px;
                height: 265px;
              }
              ul {
                margin-top: 0;
                li {
                  margin: {
                    right: 5px;
                    top: 15px;
                    left: 10px;
                  }
                  img {
                    width: 97px;
                    height: 60px;
                  }
                }
              }
            }
            .info-wrapp {
              text-align: left;
            }
          }
        }
      }
    }
    .message {
      text-align: center;
      li {
        display: inline-block;
        margin: 0 5px;
        height: 104px;
        a {
          overflow: hidden;
          display: block;
          text-indent: -400px;
          background: {
            image: cloudinary-url("background-link.fw.png");
            repeat: no-repeat;
          }
          p{
            font-size: 15px;
            left: 135px;
          }
        }
        &.big-message {
          a {
            background: {
              size: 346px auto;
              position: 0 0;
            }
            height: 102px;
            width: 227px;
            .offer {
              margin-top: 4px;
            }
            p {
              top: 19px;
              left: 116px;
              width: 396px;
              font-size: 12px;
              span {
                font-weight: bold;
                font-size: 16px;
              }
            }
          }
        }
        &.small-message {
          a {
            background: {
              size: 346px auto;
              position: -265px 0;
            }
            height: 105px;
            width: 81px;
            p {
              font-size: 25px;
            }
          }
        }
        &.small-text {
          a {
            background-size: 310px auto;
            background-position: 0 0;
            height: 100px;
            width: 220px;
            p {
              font-size: 20px;
              top: 24px;
              left: 112px;
            }
          }
        }
      }
    }
    .call-me {
      height: 120px;
      margin: 0 auto 0;
      width: 325px;
      .call-text {
        p {
          font-size: 20px;
          top: 27px;
          left: 111px;
        }
      }
    }
    .contact-information {
      padding: 40px 0;
      form {
        .label-phone {
          font-size: 19px;
        }
        .input-phone {
          border: 3px dashed #000;
          border-radius: 10px;
          margin: 0 auto 10px;
          width: 320px;
          input[type="text"] {
            width: 294px;
          }
        }
        input[type="submit"] {
          background-color: #ffa800;
          border: 3px solid #585858;
          border-radius: 5px;
          color: #585858;
          cursor: pointer;
          font-size: 26px;
          height: 50px;
          margin-bottom: 50px;
          width: 299px;
        }
      }
      .feedback-info {
        li {
          font-size: 24px;
        }
      }
      .social {
        margin-top: 25px;
        overflow: hidden;
        margin: {
          left: 0;
          right: 10px;
        }
        li {
          margin-right: 25px;
          img {
            width: 80px;
            &.photo-love-ujin {
              width: 100px;
            }
          }
        }
      }
    }
    .question {
      height: 225px;
      margin-bottom: 40px;
      padding: 23px 14px 21px 12px;
      text-align: center;
      form {
        height: 300px;
        .label-text {
          font-size:32px;
        }
        .input-text {
          height: 155px;
          width: 320px;
          textarea {
            width: 280px;
            height: 130px;
          }
        }
        input[type="text"] {
          font-size: 13px;
          height: 32px;
          width: 225px;
          margin-right: 0;
          margin-top: 1px;
          padding-left: 2px;
        }
        input[type="submit"] {
          font-size: 14px;
          height: 25px;
          width:80px;
          left: 0;
          margin-top: 29px;
          bottom: -8px;
        }
      }
    }
    footer {
      p {
        padding-right: 15px;
      }
    }
  }
}
/* ------------------------------------------ */
/* -----------responsive by (460px)---------- */
/* ------------------------------------------ */
@media only screen and (min-width: 460px) {
  .wrapper {
    width: 460px;
    min-width: 0;
    header {
      width:460px;
      background-position: -172px -41px;
      .nav-page-list {
        margin-bottom: 15px;
        li {
          .nav-page {
            text-align: center;
            li {
              display: inline-block;
              padding: 0 10px;
              a {
                font-size: 16px;
              }
            }
          }
          #nav-page1 {
            li {
              padding-right:25px;
            }
          }
          #nav-page2 {
            li {
              padding-right:8px;
              width: 135px;
            }
          }
          #nav-page3 {
            width: 460px;
            li {
              width: 93px;
              padding: 0 15px;
            }
          }
        }
      }
      .nav {
        margin-left:0;
        li {
          margin-right:-4px;
          width:140px;
          height:210px;
          &.photo1 {
            background-size:140px auto;
            &:hover {
              background-size:140px auto;
            }
          }
          &.photo1-active {
            background-size:140px auto;
          }
          &.photo2 {
            background-size:140px auto;
            &:hover {
              background-size:140px auto;
            }
          }
          &.photo2-active {
            background-size:140px auto;
          }
          &.photo3 {
            background-size:140px auto;
            &:hover {
              background-size:140px auto;
            }
          }
          &.photo3-active {
            background-size:140px auto;
          }
        }
      }
      .information {
        ul {
          padding-left: 13px;
          li {
            font-size: 14px;
            margin-right:0;
            width: 148px;
          }
        }
      }
    }
    .content {
      width:460px;
      .subject-matter {
        width:460px;
        p {
          color: #fff;
          font-size: 17px;
          width: 460px;
          margin: 0 auto;
          text-align: center;
        }
      }
      .ui-tabs {
        .ui-tabs-nav {
          li {
            height: 50px;
            a {
              font: {
                size: 11px;
                family: 'MyriadProRegular';
              }
              padding: 11px 6px;
            }
          }
        }
        .ca-container {
          width:460px;
        }
      }
      .price {
        h3 {
          font: {
            size: 23px;
            weight: normal;
          }
          margin-bottom: 30px;
          text-align: center;
        }
        .price-list {
          li {
            margin: 0 10px 5px;
            h4 {
              font-size: 24px;
              padding: {
                left: 15px;
                right: 15px;
              }
            }
            .description {
              margin: 10px 25px 10px 40px;
              li {
                font-size: 19px;
              }
            }
          }
        }
        .more-information {
          li {
            font-size: 18px;
          }
        }
      }
      .conditions {
        padding: 45px 18px 34px 23px;
        li {
          background: {
            image: cloudinary-url("marker.fw.png"), cloudinary-url("grey-marker.fw.png");
            repeat: no-repeat, no-repeat;
            position: 0 2px, 100% 3px;
          }
          font-size: 20px;
        }
      }
      .page2 {
        h2 {
          font: {
            size: 26px;
            weight: normal;
          }
        }
        .invitation {
          li {
            width:17%;
            font-size:15px;
            img {
              width:100%;
            }
          }
        }
        .big-list-photo {
          li {
            width:29%;
            height:auto;
            &:nth-child(4) {
              width:48%;
            }
            &:last-child {
              width:45%;
            }
            img {
              width:100%;
              height: 157px;
            }
          }
        }
        .invitation-thems {
          font-size:19px;
        }
        .two-big-photo {
          img {
            width:50%;
            height: 200px;
          }
        }
        .commentary {
          font-size: 17px;
        }
        .table {
          table {
            margin-left: 20px;
            td {
              padding-bottom: 22px;
              &.name {
                width: 173px;
                font-size: 15px;
                padding-right: 15px;
              }
              &.quantity {
                font-size: 35px;
                line-height: 43%;
                padding-right: 20px;
                width: 120px;
                text-align: center;
                color: #fff;
              }
              &.cost {
                font-size: 23px;
              }
            }
          }
          .commentary2 {
            bottom: 52px;
            font-size: 15px;
          }
        }
      }
      .page3 {
        .book-list {
          li {
            text-align: center;
            overflow: hidden;
            h2 {
              font: {
                size: 26px;
                weight: normal;
              }
            }
            .layflat {
              text-transform: capitalize;
            }
            .photo-gallery-wrapp {
              float: none;
              img {
                width: 500px;
                height: 343px;
              }
              ul {
                margin-bottom: 10px;
              }
            }
            .info-wrapp {
              text-align: left;
            }
          }
        }
      }
    }
    .message {
      text-align: center;
      li {
        display: inline-block;
        margin: 0 14px;
        height: 104px;
        a {
          overflow: hidden;
          display: block;
          text-indent: -400px;
          background: {
            image: cloudinary-url("background-link.fw.png");
            repeat: no-repeat;
          }
          p{
            font-size: 15px;
            left: 135px;
          }
        }
        &.big-message {
          a {
            background: {
              size: 415px auto;
              position: 0 0;
            }
            height: 109px;
            width: 294px;
            p {
              top: 23px;
              left: 127px;
              width: 440px;
              span {
                font-weight: bold;
                font-size: 18px;
              }
            }
          }
        }
        &.small-message {
          a {
            background: {
              size: 400px auto;
              position: -303px 0;
            }
            height: 110px;
            width: 105px;
            p {
              font-size: 25px;
            }
          }
        }
        &.small-text {
          a {
            p {
              font-size: 26px;
            }
          }
        }
      }
    }
    .call-me {
      height: 231px;
      margin: 0 auto 0;
      width: 459px;
      .call-text {
        p {
          font-size: 22px;
          top: 34px;
        }
      }
    }
    .contact-information {
      form {
        .label-phone {
          font-size: 23px;
        }
        .input-phone {
          border: 3px dashed #000;
          border-radius: 10px;
          margin: 0 auto 10px;
          width: 410px;
          input[type="text"] {
            width: 378px;
          }
        }
        input[type="submit"] {
          background-color: #ffa800;
          border: 3px solid #585858;
          border-radius: 5px;
          color: #585858;
          cursor: pointer;
          font-size: 26px;
          height: 50px;
          margin-bottom: 162px;
          width: 299px;
        }
      }
      .social {
        margin-top: 25px;
        overflow: hidden;
        margin: {
          left: 0;
          right: 10px;
        }
        li {
          margin-right: 25px;
          img {
            width: 80px;
            &.photo-love-ujin {
              width: 100px;
            }
          }
        }
      }
    }
    .question {
      height: 225px;
      margin-bottom: 40px;
      padding: 23px 14px 21px 12px;
      text-align: center;
      form {
        height: 300px;
        .label-text {
          font-size:32px;
        }
        .input-text {
          height: 155px;
          width: 430px;
          textarea {
            width: 350px;
            height: 130px;
          }
        }
        input[type="text"] {
          font-size: 15px;
          height: 37px;
          width: 263px;
          margin-right: 11px;
        }
        input[type="submit"] {
          font-size: 21px;
          height: 48px;
          width:128px;
          left: 15px;
          margin-top: 17px;
          bottom: -8px;
        }
      }
    }
    footer {
      p {
        padding-right: 15px;
      }
    }
  }
}
/* ------------------------------------------ */
/* -----------responsive by (768px)---------- */
/* ------------------------------------------ */

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    min-width: 0;
    header {
      width:768px;
      background-position: -100px -41px;
      .nav-page-list {
        height: 100px;
        li {
          .nav-page {
            li {
              padding-right: 8px;
              width: 150px;
              a {
                font-size:28px;
              }
            }
          }
          #nav-page2 {
            li {
              width: 235px;
            }
          }
          #nav-page3 {
            width: 768px;
            li{
              width: 175px;
            }
          }
        }
      }
      .nav {
        margin-left:30px;
        li {
          height: 300px;
          margin-right: 32px;
          width: 200px;
          &.photo1 {
            background-size:cover;
            &:hover {
              background-size:cover;
            }
          }
          &.photo1-active {
            background-size:cover;
          }
          &.photo2 {
            background-size:cover;
            &:hover {
              background-size:cover;
            }
          }
          &.photo2-active {
            background-size:cover;
          }
          &.photo3 {
            background-size:cover;
            &:hover {
              background-size:cover;
            }
          }
          &.photo3-active {
            background-size:cover;
          }
        }
      }
      .information {
        ul {
          padding-left: 33px;
          li {
            margin-right: 13px;
            width: 231px;
            font-size: 18px;
          }
        }
      }
    }
    .content {
      width:768px;
      .subject-matter {
        width:768px;
        p {
          width: 768px;
          font-size: 21px;
        }
      }
      .ui-tabs {
        .ui-tabs-nav {
          li {
            a {
              padding: 10px 14.5px;
              font-size: 17px;
            }
          }
        }
        .ca-container {
          width:768px;
        }
      }
      .price {
        h3 {
          font-size: 27px;
        }
        .price-list {
          li {
            margin: 0 40px 36px;
            h4 {
              font-size: 26px;
            }
            .description {
              margin: 24px 25px 24px 40px;
              li {
                font-size: 25px;
              }
            }
          }
        }
        .more-information {
          li {
            font-size: 27px;
          }
        }
      }
      .conditions {
        padding: 45px 58px 34px 63px;
        li {
          font-size: 25px;
        }
      }
      .page2 {
        .invitation {
          li {
            width:18%;
            font-size:21px;
            img {
              width:100%;
            }
          }
        }
        .big-list-photo {
          li {
            width:30%;
            height:auto;
            &:nth-child(4) {
              width:49%;
            }
            &:last-child {
              width:45%;
              height: 260px;
            }
            img {
              width:100%;
              height: 260px;
            }
          }
        }
        .two-big-photo {
          img {
            width:50%;
            height: 250px;
          }
        }
        .table {
          table {
            margin-left: 25px;
            td {
              padding-bottom: 60px;
              &.name {
                width: 323px;
                font-size: 22px;
                padding-right: 25px;
              }
              &.quantity {
                font-size: 40px;
                width: 120px;
                padding-right: 160px;
              }
              &.cost {
                font-size: 28px;
              }
            }
          }
          .commentary2 {
            bottom: 24px;
            font-size: 16px;
            height: 51px;
          }
        }
      }
      .page3 {
        .book-list {
          li {
            h2 {
              font-size: 35px;
            }
            .photo-gallery-wrapp {
              float: left;
              img {
                width: 425px;
              }
            }
          }
        }
      }
    }
    .message {
      left: 75px;
      li {
        height: 160px;
        a {
          background: {
            image: cloudinary-url("background-link.fw.png");
            repeat: no-repeat;
          }
          p {
            font-size: 23px;
            left: 200px;
          }
        }
        &.big-message {
          a {
            width: 450px;
            height: 159px;
            background-size: 600px;
            p {
              font-size: 21px;
              top: 23px;
              left: 192px;
              span {
                font-size: 31px;
              }
            }
          }
        }
        &.small-text {
          a {
            p {
              font-size: 40px;
              top: 33px;
            }
          }
        }
        &.small-message {
          a {
            background-position: -421px 0;
            background-size: 554px auto;
            height: 155px;
            width: 165px;
          }
        }
      }
    }
    .call-me {
      width: inherit;
      li {
        &.call-text {
          a {
            p {
              font-size: 38px;
              top: 41px;
            }
          }
        }
      }
    }
    .contact-information {
      form {
        .label-phone {
          font-size: 32px;
        }
        .input-phone {
          width: 585px;
          input[type="text"] {
            width: 558px;
          }
        }
        input[type="submit"] {
          width: 449px;
          font-size: 31px;
        }
      }
      .feedback-info {
        li {
          font-size: 35px;
        }
      }
      .social {
        margin-left:105px;
        li {
          margin-right: 80px;
          img {
            width: inherit;
            &.photo-love-ujin {
              width: 146px;
            }
          }
        }
      }
    }
    .question {
      form {
        height: 270px;
        .label-text {
          font-size: 38px;
        }
        .input-text {
          height: 157px;
          width: 740px;
          textarea {
            width: 640px;
            height: 130px;
          }
        }
        input[type="text"] {
          margin-right: 45px;
          margin-top: 1px;
          font-size: 19px;
          width: 350px;
        }
        input[type="submit"] {
          font-size: 31px;
          width: 220px;
          bottom: 2px;
        }
      }
    }
  }
}
/* ------------------------------------------ */
/* -----------responsive by (1024px)---------- */
/* ------------------------------------------ */
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    header {
      width: 1024px;
      background-position: -3px -41px;
      .nav-page-list {
        height: 210px;
        li {
          .nav-page {
            li {
              width: 210px;
              a {
                font-size:38px;
              }
            }
          }
          #nav-page2 {
            li {
              width: 320px;
            }
          }
          #nav-page3 {
            width: 1024px;
            li {
              width: 245px;
              &:last-child {
                width: 100px;
              }
            }
          }
        }
      }
      .nav {
        overflow: hidden;
        margin: {
          right: -10px;
          bottom: 40px;
        }
        li {
          height: 467px;
          margin-right: 5px;
          width: 311px;
          &.photo1 {
            background-size:311px auto;
            &:hover {
              background-size:311px auto;
            }
          }
          &.photo1-active {
            background-size:311px auto;
          }
          &.photo2 {
            background-size:311px auto;
            &:hover {
              background-size:311px auto;
            }
          }
          &.photo2-active {
            background-size:311px auto;
          }
          &.photo3 {
            background-size:311px auto;
            &:hover {
              background-size:311px auto;
            }
          }
          &.photo3-active {
            background-size:311px auto;
          }
        }
      }
      .information {
        ul {
          li {
            width: 278px;
            font-size:21px;
          }
        }
      }
    }
    .content {
      width: 1024px;
      .subject-matter {
        width: 1024px;
        p {
          width: 768px;
        }
      }
      .ui-tabs {
        .ui-tabs-nav {
          li {
            a {
              font-size: 16px;
              padding: 10px 33px;
            }
          }
        }
        .ca-container {
          width: 1024px;
        }
      }
      .price {
        h3 {
          font-size: 32px;
        }
        .price-list {
          li {
            h4 {
              font-size: 26px;
            }
            .description {
              margin: 24px 25px 24px 40px;
              li {
                font-size: 25px;
              }
            }
          }
        }
        .more-information {
          li {
            font-size: 27px;
          }
        }
      }
      .conditions {
        padding: 45px 58px 34px 63px;
        li {
          font-size: 25px;
        }
      }
      .page2 {
        h2 {
          font-size: 40px;
        }
        .big-list-photo {
          li {
            &:last-child {
              img {
                height: 320px;
              }
            }
            img {
              height: 320px;
            }
          }
        }
        .two-big-photo {
          img {
            height: 370px;
          }
        }
        .commentary {
          font-size: 22px;
        }
        .table {
          padding-top: 22px;
          table {
            margin-left: 121px;
            td {
              padding-bottom: 60px;
              &.name {
                width: 323px;
                font-size: 22px;
                padding-right: 35px;
              }
              &.quantity {
                font-size: 40px;
                width: 120px;
                padding-right: 108px;
                span {
                  font-size: 20px;
                  width: 120px;
                }
              }
              &.cost {
                font-size: 28px;
              }
            }
          }
        }
        .commentary2 {
          bottom: 60px;
          font-size:19px;
          height: 51px;
        }
      }
      .page3 {
        .book-list {
          li {
            h2 {
              font-size: 35px;
            }
            .photo-gallery-wrapp {
              float: left;
              img {
                width: 500px;
                height: 340px;
              }
              ul {
                li {
                  margin: {
                    top: 20px;
                    right: 15px;
                  }
                  img {
                    width: 110px;
                    height: 75px;
                  }
                }
              }
            }
            .info-wrapp {
              font-size: 22px;
              dl {
                padding: 20px;
              }
              .special-info {
                padding-bottom: 25px;
              }
            }
          }
        }
      }
    }
    .message {
      li {
        height: 180px;
        a {
          p {
            font-size: 23px;
            left: 200px;
          }
        }
        &.big-message {
          a {
            width: 515px;
            height: 179px;
            background-size: 684px auto;
            p {
              font-size: 24px;
              width: 495px;
              top: 29px;
              left: 195px;
              span {
                font-size: 35px;
              }
            }
          }
        }
        &.small-text {
          a {
            p {
              font-size: 46px;
              top: 43px;
            }
          }
        }
        &.small-message {
          a {
            background-position: -480px 0;
            background-size: 637px auto;
            height: 180px;
            width: 170px;
          }
        }
      }
    }
    .call-me {
      width: inherit;
      li {
        &.call-text {
          a {
            width: 480px;
            height: 180px;
            background-size: 660px auto;
            p {
              font-size: 42px;
              top: 40px;
              left: 190px;
            }
          }
        }
      }
    }
    .contact-information {
      padding: 90px 0;
      input[type="submit"] {
        font-size: 33px;
      }
      .social {
        margin-left:105px;
        li {
          a {
            img {
              width: inherit;
            }
          }
          .photo-love-ujin {}
        }
      }
    }
    .question {
      padding: 23px 94px 21px 52px;
      height: 262px;
      margin-bottom: 40px;
      form {
        height: 310px;
        .label-text {
          font-size: 54px;
        }
        .input-text {
          width: 910px;
          height: 130px;
          font-size: 25px;
          textarea {
            width: 830px;
          }
        }
        input[type="text"] {
          height: 47px;
          width: 446px;
          font-size: 25px;
          margin: {
            right: -5px;
            top: 30px;
          }
        }
        input[type="submit"] {
          font-size: 32px;
          height: 58px;
          margin-bottom: 162px;
          width: 220px;
          bottom: -36px;
        }
      }
    }
    footer {
      padding: 34px 8px 8px;
      overflow: visible;
      height: 40px;
      p {
        font-size: 19px;
        padding-right: 15px;
      }
    }
  }
}
/* ------------------------------------------ */
/* -----------responsive by (1200px)---------- */
/* ------------------------------------------ */
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    header{
      width:1200px;
      .nav-page-list {
        height: 220px;
        li {
          .nav-page {
            li {
              width: 245px;
              a {
                font-size:42px;
              }
            }
          }
          #nav-page2 {
            li {
              width: 380px;
            }
          }
          #nav-page3 {
            width: 1200px;
            li {
              width: 280px;
              &:last-child {
                width: 100px;
              }
            }
          }
        }
      }
      .nav {
        margin-left:30px;
        li {
          width: 311px;
          height: 467px;
          margin-right: 65px;
          &.photo1 {
            background-size: cover;
            &:hover {
              background-size: cover;
            }
          }
          &.photo1-active {
            background-size: cover;
          }
          &.photo2 {
            background-size: cover;
            &:hover {
              background-size: cover;
            }
          }
          &.photo2-active {
            background-size: cover;
          }
          &.photo3 {
            background-size: cover;
            &:hover {
              background-size: cover;
            }
          }
          &.photo3-active {
            background-size: cover;
          }
        }
      }
      .information {
        width:1200px;
        ul {
          li{
            width:338px;
            font-size:24px;
          }
        }
      }
    }
    .content {
      width:1200px;
      .subject-matter {
        width:1200px;
        p {
          font-size: 28px;
        }
      }
      .ui-tabs {
        .ui-tabs-nav {
          li {
            height: 55px;
            a {
              padding: 10px 46px;
              font-size: 17px;
            }
          }
        }
        .ca-container{
          width:1200px;
        }
      }
      .price {
        h3 {
          font-size: 35px;
        }
        .price-list {
          li {
            h4 {
              font-size: 26px;
            }
            .description {
              margin: 24px 25px 24px 40px;
              li {
                font-size: 25px;
              }
            }
          }
        }
        .more-information {
          li {
            font-size: 27px;
          }
        }
      }
      .conditions {
        padding: 45px 58px 34px 63px;
        li {
          font-size: 25px;
        }
      }
      .page2 {
        h2 {
          font-size: 44px;
        }
        .invitation {
          li {
            width:19%;
            font-size: 21px;
          }
        }
        .big-list-photo {
          padding-left: 0;
          li {
            &:last-child {
              img {
                height: 350px;
              }
            }
            a {
              img {
                height: 350px;
              }
            }
          }
        }
        .two-big-photo {
          img {
            height: 450px;
          }
        }
        .table {
          table {
            margin-left: 81px;
            td {
              padding-bottom: 60px;
              &.name {
                font-size: 22px;
                padding-right:185px;
                width: 323px;
              }
              &.quantity {
                padding-right:218px;
                font-size: 40px;
              }
            }
          }
        }
        .commentary2 {
          bottom: 52px;
          font-size: 19px;
          height: 51px;
        }
      }
      .page3 {
        .book-list {
          li {
            width: initial;
            overflow: hidden;
            h2 {
              font-size: 44px;
            }
            .photo-gallery-wrapp {
              float: left;
            }
            .info-wrapp {
              text-align: initial;
            }
          }
        }
      }
    }
    .message {
      li {
        height: 160px;
        a {
          background: {
            image: cloudinary-url("background-link.fw.png");
            repeat: no-repeat;
          }
          p {
            font-size: 23px;
            left: 200px;
          }
        }
        &.big-message {
          a {
            background-size: initial;
            width: 450px;
            height: 159px;
            p {
              font-size: 22px;
              left: 190px;
              top: 35px;
              span {
                font: {
                  size: 33px;
                  weight: bold;
                }
              }
            }
          }
        }
        &.small-message {
          position: relative;
          a {
            background: {
              size: initial;
              position: -480px 0;
            }
            height: 159px;
            width: 156px;
          }
        }
        &.small-text {
          a {
            p {
              top: 40px;
              left: 185px;
              font-size: 42px;
            }
          }
        }
      }
    }
    .call-me {
      width: 666px;
      li {
        &.call-text {
          a {
            p {
              font-size: 40px;
              top: 41px;
            }
          }
        }
      }
    }
    .contact-information {
      form {
        .label-phone {
          font-size: 37px;
        }
        .input-phone {
          width: 660px;
          input[type="text"] {
            width: 630px;
            font-size: 45px;
          }
        }
      }
    }
    .question {
      padding: 23px 94px 21px 52px;
      height: 302px;
      margin-bottom: 40px;
      form {
        height: 350px;
        .label-text {
          font-size: 56px;
        }
        .input-text {
          width: 1100px;
          height: 190px;
          textarea {
            height: 170px;
            width: 1000px;
            font-size: 25px;
          }
        }
        input[type="text"] {
          height: 47px;
          width: 446px;
          margin-top: 11px;
        }
        input[type="submit"] {
          font-size: 34px;
          position: relative;
          top: 12px;
          height: 58px;
          margin-bottom: 162px;
          width: 220px;
        }
      }
    }
  }
}